//output:index.html
doctype html

head
    meta(charset='utf-8')
    title Service Cloud Custom Split
    script(src='js/jquery.min.js' type='text/javascript')
    script(src='js/postmonger.js' type='text/javascript')

    link(href='css/style.css', rel='stylesheet')
    link(href='css/bootstrap-select/bootstrap-select.min.css', rel='stylesheet')
    link(href='css/bootstrap-datepicker/bootstrap-datepicker3.min.css', rel='stylesheet')
    script(data-main='js/main.js' type='text/javascript' src='js/require.js')


body
    .container
        #loadingDiv
            img(src='images/spinner-omega.png' alt='spinner')
        .col-xs-s12
            #step2.step
                #error2.error.alert.alert-danger(hidden)
                form.form-horizontal
                    input#EmailDE(type='hidden')
                    .form-group
                        label(for='startDate' class='col-xs-2 control-label') LOL LOL
                        .col-xs-10
                            #datepicker(class='input-daterange input-group')
                                input#startDate(type='text' class=' form-control  col-xs-5' name='start' placeholder='Start Date')
                                .input-group-addon to
                                input#endDate(type='text' class=' form-control  col-xs-5' name='end' placeholder='End Date')

                    .form-group
                        label.col-xs-2.control-label(for='searchWebinars')
                        .col-xs-10
                            input#searchWebinars(type='button' value='Search webinar' class='btn btn-primary')

                    hr
                    .optionsWebinar
                        .form-group
                            label.col-xs-2.control-label(for='type') Type
                            .col-xs-10
                                select#type( value='Buscar webinar' class='selectpicker form-control ' disabled)
                                    option(value='Registrant') Hello1
                                    option(value='Attendees') Hello2
                        .form-group
                            label.col-xs-2.control-label(for='webinar') Hello
                            .col-xs-10
                                select#webinar(class='selectpicker' data-live-search="true" data-width="100%" disabled)
                                input#webinarSelected(type='hidden')
                .alert.alert-info(hidden) Fill in all the fields and select a <b>webinar</b> to enable the "next" button and be able to continue
            #step3.step
                #error3.error.alert.alert-danger(hidden)
                .row
                    .form-group
                        .col-xs-12
                            label.control-label(for='summaryWebinar') Name
                            input.form-control#summaryWebinar(type='text' disabled)

                .row
                    .form-group
                        .col-xs-4
                            label.control-label(for='summaryNRegistrants') Num Registrants
                            input.form-control#summaryNRegistrants(type='text' disabled)

                        .col-xs-4
                            label.control-label(for='summaryStartDate') Start Date
                            input.form-control#summaryStartDate(type='text' disabled)

                        .col-xs-4
                            label.control-label(for='summaryEndDate') End Date
                            input.form-control#summaryEndDate(type='text' disabled)
                .row
                    .form-group
                        .col-xs-12
                            label.control-label(for='summaryURLRegistration') URL Registration
                            input.form-control#summaryURLRegistration(type='text' disabled)

                .row
                    .form-group
                        .col-xs-12
                            label.control-label(for='summaryDescription') Description
                            textarea.form-control#summaryDescription(rows=7  resize=true disabled)


    script.

        var hasToken = #{hasToken};
        $('#loadingDiv').hide()
